<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-view view-title="Session">
    <ion-content>
    <div class="speaker-tag">
        <img class="avatar" src="{{ post.speaker.avatar }}" alt=""/>
        <p class="name">
            {{ post.speaker.title }}
        </p>
        <span class="time">
            {{ ( post.post_meta[0].value * 1000 ) + 7200000 - 43200000 | date: 'EEE h:mm' }}
        </span>
    </div>

    <div class="session-card green">
        <span class="title-block">
            <img class="card-bg" src="{{ post.speaker.avatar }}">
            <h1 class="title" ng-bind-html="post.title"></h1>
            <span class="track">
                Developer
            </span>
        </span>

        <span ng-if="post.excerpt">
        <div class="content-block">
            <div class="excerpt">
                <h3>Intro</h3>
                <span ng-bind-html="post.content"></span>
            </div>

            <div class="details">
                <h3>Details</h3>
            </div>
        </div>
        </span>

        <pre>{{ post }}</pre>

    </div>

    </ion-content>
</ion-view>
