<ion-view view-title="Session" class="session">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-left"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-home-outline" ng-controller="HomeCtrl" ng-click="goHome()"></button>
    </ion-nav-buttons>
    <ion-content>
    <div class="speaker-tag">
        <img class="avatar" src="{{ post.speaker.avatar }}" alt=""/>
        <p class="name">
            {{ post.speaker.title }}
        </p>
        <span class="time">
            {{ ( post.post_meta[0].value * 1000 ) + 7200000 - 43200000 | date: 'EEE h:mm' }}
        </span>
    </div>

    <div class="session-card green">
        <span class="title-block">
            <img class="card-bg" src="{{ post.speaker.avatar }}">
            <h1 class="title" ng-bind-html="post.title"></h1>
            <span class="track">
                {{ post.terms.wcb_track[0].name }}
            </span>
        </span>

        <span ng-if="post.excerpt">
        <div class="content-block">
            <div class="excerpt">
                <div class="card">
                    <div class="item item-text-wrap">
                        <span ng-bind-html="post.content"></span>
                    </div>
                </div>
            </div>

        </div>
        </span>

    </div>

    </ion-content>
</ion-view>
