<ion-view view-title="Favorites">
    <ion-content>
        <ion-list can-swipe="listCanSwipe">
            <ion-item ng-repeat="fav in favs" href="#/app/detail/{{ fav.id }}">

                <span ng-bind-html="fav.title"></span>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="favs.splice($index, 1)"></ion-option-button>
                <p class="title item-wrap-text">{{ ( fav.time * 1000 ) + 7200000 - 43200000 | date: 'EEE h:mm' }} - {{ fav.track }}</p>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
