<ion-view view-title="Home">
<ion-content>

	<!-- Featured slider -->
	<ion-slide-box class="home-slider" auto-play="true" does-continue="true" show-pager="false">
	  <ion-slide class="home-slide" ng-repeat="post in posts">
		<h1 class="slide-title">{{post.title}}</h1>
		<img src="http://lorempixel.com/380/180/people/">
	  </ion-slide>
	</ion-slide-box>



	<!-- Upcoming WordCamps  -->
	<div class="padding">
	<h3>Upcoming WordCamps</h3>
	<ion-list class="list list-inset">
		<ion-item ng-repeat="post in posts" href="#/app/wordcamp/{{post.ID}}" class="item item-icon-right">
			{{post.title}}
		 <i class="icon ion-ios-arrow-right"></i>
		</ion-item>
	</ion-list>
	</div>
</ion-view>