<ion-view class="speaker">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-left"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title>
        {{speaker.title}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="padding" ng-show="speaker != null" ng-cloak>

        <div class="list card">
            <div class="item item-image placeholder">
                <img ng-src="{{ speaker.avatar }}">
            </div>

        </div>


        <h6>ABOUT</h6>

        <div class="card">
            <div class="item item-text-wrap">
                <div ng-bind-html="speaker.content | externalLinks"></div>
            </div>
        </div>

        <h6>SESSION</h6>

        <div class="card">
            <div class="item item-text-wrap">
                <a href="/#/app/detail/{{speaker.sessions[0].ID}}"><span
                        ng-bind-html="speaker.sessions[0].title"></span></a><br><br>
                <i class="icon ion-ios-calendar-outline"></i>
                <span class="time"><strong>{{ speaker.sessions[0].post_meta[0].value | date : 'EEE hh:mm'
                    }}</strong></span><br>
                {{ speaker.sessions[0].terms.wcb_track[0].name }}
            </div>

        </div>

    </ion-content>
</ion-view>
