<ion-view view-title="Venue">
    <ion-content class="padding">
        <!-- <h1 ng-bind-html="post.title"></h1> -->

        <p>TBA</p>

		<img src="http://placehold.it/380x250" class="item item-image">

		<ul>
		    <li>Physical Address: 2 George Street Brisbane QLD 4000</li>
			<li>Queensland University of Technology - Gardens Point</li>
			<li>https://www.qut.edu.au/campuses-and-facilities/gardens-point-campus</li>
			<li>Twitter: @wordcampbne</li>
			<li>Hashtag: #wcbne</li>
		</ul>

		<h2>After Party</h2>

    </ion-content>
</ion-view>
