<ion-view view-title="Venue">
    <ion-content>

		<div class="entry-content card padding">
			<h4>Location</h4>

			<p>WordCamp is being held at QUT Garden’s Point, which is nestled at the heritage end of Brisbane, between the Brisbane River and the Brisbane Botanic Gardens. The event will be held at The Cube (also known as P Block) which is one of the world’s largest digital interactive and learning environments in the new $230 million Science and Engineering Centre.</p>
			<h4>Map &amp; Location of The Venue</h4>
			<p>QUT Gardens Point: P Block or The Cube.<br>
				All talks and registration will be on the main floor (also known as level 4) of the building.<br>
				Zoom into the map below to see the different building names.</p>
			<p>You can also view <a href="https://www.qut.edu.au/campuses-and-facilities/gardens-point-campus/maps-and-getting-here">QUT’s campus map here</a></p>
			<div class="googlemaps"><iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14159.762959885815!2d153.02676633121337!3d-27.471104210723897!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000:0x592f6209a3d931db!2sKindler Theatre!5e0!3m2!1sen!2sau!4v1427350455101"></iframe></div>
			<strong>Getting to the Venue</strong>
			<p><strong>By Train:</strong><br>
				Depending on where you are staying there a couple of train stations close to the venue:</p>
			<ol>
				<li>Get off at South Bank Station (not South Brisbane) and walk over the Goodwill Bridge, this will take about 10 minutes.</li>
				<li>Get off at Central station and you can walk through the city to the venue, this will take about 15-20 minutes.</li>
			</ol>
			<p>Call Translink to plan your journey <strong>on 13 12 30</strong> or <a href="http://translink.com.au/">plan your journey here</a>.</p>
			<p><strong>By Bus:</strong><br>
				There are several buses that go directly near the campus and it is also a short walk from King George Square and Queen St Bus Station.</p>
			<p>Call Translink to plan your journey <strong>on 13 12 30</strong> or <a href="http://translink.com.au/">plan your journey here</a>.</p>
			<p><strong>By CityCat:</strong><br>
				QUT Garden’s Point has it’s own CityCat stop and you can easily walk up to the venue from there.</p>
			<p>Call Translink to plan your journey <strong>on 13 12 30</strong> or <a href="http://translink.com.au/">plan your journey here</a>.</p>
			<p><strong>By Bicycle:</strong><br>
				QUT Garden’s point is easily accessible by the Bicentennial Bikeway along the river. You can also cycle over the Goodwill Bridge from the Kangaroo Point Cliffs and the South Bank cycle path. Find out more about <a href="http://www.brisbane.qld.gov.au/facilities-recreation/sports-and-leisure/cycling/">cycling in Brisbane here</a>.<br>
				There are on campus bike racks for you to store your bike.</p>
			<p><strong>By Uber:</strong><br>
				<a href="https://www.uber.com/cities/brisbane">Uber</a> is available in Brisbane to get to the venue. To book an Uber you’ll need an app for it so you can&nbsp;either use the <a href="https://play.google.com/store/apps/details?id=com.ubercab">Android</a>, <a href="https://itunes.apple.com/us/app/uber/id368677368?mt=8">iPhone</a> or <a href="https://www.windowsphone.com/s?appid=b905a877-bd55-4ce7-a7aa-467cdc3a21f4">Windows</a> phone app.</p>
			<p><strong>Parking:</strong><br>
				There are 3 ‘Pay on Exit’ car parks available on weekends at QUT Gardens Point. You can view the <a href="https://brisbane.wordcamp.org/2015/files/2015/02/CasualCarParks.png">map of the car park entrances here</a>. Costs for these car parks <a href="http://www.fmd.qut.edu.au/security/parking/pay_on_exit.jsp#GardensPoint">can be found on the QUT website here</a>.</p>
			<p>Commercial parking within the CBD often have cheaper Weekend rates, for example <a href="https://www.wilsonparking.com.au/park/4126_119-Charlotte-St-Car-Park_119-Charlotte-Street-Brisbane">Wilsons parking on Charlotte St</a> is $10 per day &amp; the <a href="http://www.myercentreshopping.com.au/Centre-Info/Car-Park/">Myer Center parking</a> is $10 per day ($5 per day if booked online in advance) on weekends. Both these parking lots are within 15-20 minutes walk of QUT &amp; the after party on Saturday evening. Other parking lots may also be operating, so check their websites for further information.<br>
				<strong>Although these rates are correct as of writing, please verify them with parking lot owners before the day.</strong>
			</p>

    </ion-content>
</ion-view>
