// WordCamp Styles YO!

.speaker {
  .card {
    p {
      padding-bottom: 15px;
    }
  }
}

.speaker .card {
  ul .p1 {
    display: none !important;
  }
}

.wc-badge {
	padding: 2px 5px;
	background-color: #e3e3e3;
	border-radius: 2px;
	margin: 0 2px 0 2px;
	display: inline-block;
}

.home-slider {
	height: 180px;

	.home-slide {
		img {
			max-width: 100%;
		}
	}

	.slide-title {
		position: absolute;
		top: 10px;
		left: 10px;
		color: white;
		background-color: rgba(0,0,0,0.5);
		font-size: 18px;
	}
}